<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <!--Секция для хранения любых пар ключ-значение, где ключ и значение всегда строка-->
  <add key="isAdmin" value="true"/>
  <add key="computerOwner" value="Adil"/>
  <add key="myString" value="Тут должна быть строка подключения"/>
</appSettings>
<connectionStrings>
  <add name="testConnectionString" providerName="System.Data.SqlClient" 
       connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\ДжабашевН.CORP\source\repos\DataBaseConnectedApp\DataBaseConnectedApp.DataAccess\Database.mdf;Integrated Security=True"/>
</connectionStrings>
</configuration>